.department-list-wrap {
    display: flex;
    gap: 15px;
    // background-color: #fff;
    background: transparent;
    justify-content: center;
    flex-wrap: wrap;
    max-height: calc(100vh - 250px);
    overflow: hidden;
    overflow-y: auto;
}